@font-face {
    font-family: Heebo;
    src: url('../fonts/Heebo-VariableFont_wght.ttf');
}

body {
    background-color    : #d0d0ce;
    background-image    : linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../img/blank-background.png);
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
}

h1 {
    font-size : 2em;
    margin    : 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family            : "Heebo", sans-serif;
    font-weight            : 450;
    color                  : #161616;
    margin                 : 0.67em 0;
    font-variant-ligatures : common-ligatures;
    text-rendering         : optimizeLegibility;
}

.brand-wrapper {
    margin-bottom: 19px;
}

.brand-wrapper img {
    width : 200px;
    height: 80px;
}

.login-card {
    border: 1;
    border-radius: 27.5px;
    overflow: hidden;
}

.login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.login-card .card-body {
    padding: 60px 70px 10px;
}

    @media (max-width: 422px) {
      .login-card .card-body {
        padding: 35px 24px;
      }
    }

.login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

.login-card form {
    max-width: 326px;
}

.login-card .form-control {
    border: 1px solid #d5dae2;
}

.login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}

.login-card .login-btn:hover {
      border: 1px solid #000;
      background-color: transparent;
      color: #000;
}

.login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
}

.login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px;
}

    @media (max-width: 767px) {

      .login-card-footer-text {
        margin-bottom: 24px;
      }
    }

.login-card-footer-nav a {
    font-size: 14px;
    color: #6d6e76;
}

/* ==========================================================================
#MODAL
========================================================================== */

.modal-content {
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;
}

.modal-header {
    border-bottom: 0 none;
    padding-bottom: 0;
}

.modal-header img {
    margin: 0;
}

.modal-footer {
    border-top: 0 none;
}

/* ==========================================================================
#EXIT BUTTON
========================================================================== */

.exit1-wrap {
    position: fixed;
    top: 30%;
    right: 0px;
    z-index:9999;
}

.exit1-wrap button {
    background-color: #DC3545;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 10px 15px;
    line-height: 1.2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
}

.exit1-wrap button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
