@charset "UTF-8";

/* -------------------------------------------------------------------
 * ## fonts
 * ------------------------------------------------------------------- */

@font-face {
    font-family: Heebo;
    src: url('../fonts/Heebo-VariableFont_wght.ttf');
}

/* -------------------------------------------------------------------
 * ## colors
 * ------------------------------------------------------------------- */
:root {

    --color-1                       : hsla(144, 37%, 39%, 1);

    /* theme color variations
     */
    --color-1-light                 : hsla(144, 37%, 49%, 1);
    --color-1-dark                  : hsla(144, 37%, 29%, 1);

    --color-black                   : #000000;
    --color-gray-19                 : #161616;
    --color-gray-13                 : #999b9b;
    --color-gray-12                 : #afb2b1;
    --color-gray-8                  : #e2e5e4;
    --color-gray-6                  : #e9ebeb;
    --color-white                   : #ffffff;

    /* text
     */
    --color-text                    : var(--color-gray-19);
    --color-text-dark               : var(--color-gray-19);
    --color-text-light              : var(--color-gray-13);

    /* buttons
     */
    --color-btn                     : var(--color-gray-6);
    --color-btn-text                : var(--color-black);
    --color-btn-hover               : var(--color-gray-8);
    --color-btn-hover-text          : var(--color-black);
    --color-btn-primary             : var(--color-1);
    --color-btn-primary-text        : var(--color-white);
    --color-btn-primary-hover       : var(--color-1-dark);
    --color-btn-primary-hover-text  : var(--color-white);
    --color-btn-stroke              : var(--color-black);
    --color-btn-stroke-text         : var(--color-black);
    --color-btn-stroke-hover        : var(--color-black);
    --color-btn-stroke-hover-text   : var(--color-white);

    /* preloader
     */
    --color-preloader-bg            : #622c8c;
    --color-loader                  : white;
    --color-loader-light            : rgba(255, 255, 255, 0.1);

    /* others
     */
    --color-body                    : white;
    --color-border                  : rgba(0, 0, 0, 0.08);
    --border-radius                 : 8px;
}

/* -------------------------------------------------------------------
 * ## spacing and type scale
 * ------------------------------------------------------------------- */
:root {

    /* spacing
     * base font size: 18px
     * vertical space unit : 32px
     */
    --base-size         : 62.5%;
    --multiplier        : 1;
    --base-font-size    : calc(1.8rem * var(--multiplier));
    --space             : calc(3.2rem * var(--multiplier));
    /* vertical spacing
     */
    --vspace-0_125      : calc(0.125 * var(--space));
    --vspace-0_25       : calc(0.25 * var(--space));
    --vspace-0_375      : calc(0.375 * var(--space));
    --vspace-0_5        : calc(0.5 * var(--space));
    --vspace-0_625      : calc(0.625 * var(--space));
    --vspace-0_75       : calc(0.75 * var(--space));
    --vspace-0_875      : calc(0.875 * var(--space));
    --vspace-1          : calc(var(--space));
    --vspace-1_25       : calc(1.25 * var(--space));
    --vspace-1_5        : calc(1.5 * var(--space));
    --vspace-1_75       : calc(1.75 * var(--space));
    --vspace-2          : calc(2 * var(--space));
    --vspace-2_5        : calc(2.5 * var(--space));
    --vspace-3          : calc(3 * var(--space));
    --vspace-3_5        : calc(3.5 * var(--space));
    --vspace-4          : calc(4 * var(--space));
    --vspace-4_5        : calc(4.5 * var(--space));
    --vspace-5          : calc(5 * var(--space));

    --text-scale-ratio  : 1.2;
    --text-size         : var(--base-font-size);
    --text-xs           : calc((var(--text-size) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm           : calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md           : calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg           : calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl           : calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl          : calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl         : calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-display-1    : calc(var(--text-xxxl) * var(--text-scale-ratio));
    --text-display-2    : calc(var(--text-display-1) * var(--text-scale-ratio));
    --text-display-3    : calc(var(--text-display-2) * var(--text-scale-ratio));

    /* default button height
     */
    --vspace-btn        : var(--vspace-2);
}

@media screen and (max-width: 600px) {
    :root {
        --multiplier : 0.9375;
    }
}

/* -------------------------------------------------------------------
 * ## grid variables
 * ------------------------------------------------------------------- */
:root {

    /* widths for rows and containers
     */
    --width-full     : 100%;
    --width-max      : 1200px;
    --width-wide     : 1400px;
    --width-wider    : 1600px;
    --width-widest   : 1800px;
    --width-narrow   : 1000px;
    --width-narrower : 800px;
    --width-grid-max : var(--width-max);

    /* gutter
     */
    --gutter         : 2.2rem;
}

/* on medium screen devices
 */
@media screen and (max-width: 1200px) {
    :root {
        --gutter : 2rem;
    }
}

/* on mobile devices
 */
@media screen and (max-width: 600px) {
    :root {
        --gutter : 1rem;
    }
}

/* ====================================================================
 * # NORMALIZE
 *
 *
 * --------------------------------------------------------------------
 * normalize.css v8.0.1 | MIT License |
 * -------------------------------------------------------------------- */

html {
    line-height              : 1.15;
    -webkit-text-size-adjust : 100%;
}

body {
    margin : 0;
}

main {
    display : block;
}

hr {
    box-sizing : content-box;
    height     : 0;
    overflow   : visible;
}

a {
    background-color : transparent;
}

abbr[title] {
    border-bottom   : none;
    text-decoration : underline dotted;
}

b,
strong {
    font-weight : bolder;
}

code,
kbd,
samp {
    font-family : monospace, monospace;
    font-size   : 1em;
}

small {
    font-size : 80%;
}

sub,
sup {
    font-size      : 75%;
    line-height    : 0;
    position       : relative;
    vertical-align : baseline;
}

sub {
    bottom : -0.25em;
}

sup {
    top : -0.5em;
}

img {
    border-style : none;
}

button,
input,
optgroup,
select,
textarea {
    font-family : inherit;
    font-size   : 100%;
    line-height : 1.15;
    margin      : 0;
}

button,
input {
    overflow : visible;
}

button,
select {
    text-transform : none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance : button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style : none;
    padding      : 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline : 1px dotted ButtonText;
}

fieldset {
    padding : 0.35em 0.75em 0.625em;
}

legend {
    box-sizing  : border-box;
    color       : inherit;
    display     : table;
    max-width   : 100%;
    padding     : 0;
    white-space : normal;
}

progress {
    vertical-align : baseline;
}

textarea {
    overflow : auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing : border-box;
    padding    : 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height : auto;
}

[type="search"] {
    -webkit-appearance : textfield;
    outline-offset     : -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance : none;
}

::-webkit-file-upload-button {
    -webkit-appearance : button;
    font               : inherit;
}

details {
    display : block;
}

summary {
    display : list-item;
}

template {
    display : none;
}

[hidden] {
    display : none;
}



/* ===================================================================
 * # BASE SETUP
 *
 *
 * ------------------------------------------------------------------- */
html {
    font-size  : var(--base-size);
    box-sizing : border-box;
}

*,
*::before,
*::after {
    box-sizing : inherit;
}

html,
body {
    height : 100%;
}

body {
    background-color            : var(--color-body);
    -webkit-overflow-scrolling  : touch;
    -webkit-text-size-adjust    : 100%;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    -webkit-font-smoothing      : antialiased;
    -moz-osx-font-smoothing     : grayscale;
}

p {
    font-size      : inherit;
    text-rendering : optimizeLegibility;
}

a {
    text-decoration : none;
}

pre {
    overflow : auto;
}

/* ===================================================================
 * # GRID v4.0.0
 *
 *
 *   -----------------------------------------------------------------
 * - Grid breakpoints are based on MAXIMUM WIDTH media queries,
 *   meaning they apply to that one breakpoint and ALL THOSE BELOW IT.
 * - Grid columns without a specified width will automatically layout
 *   as equal width columns.
 *
 * - BLOCK GRID columns(columns inside BLOCK GRID containers) are
 *   equally-sized columns define at parent/row level.
 *   A BLOCK GRID container's class attribute value begins with "block-".
 *
 * ------------------------------------------------------------------- */

/* row
 */
.row {
    width     : 92%;
    max-width : var(--width-grid-max);
    margin    : 0 auto;
    display   : flex;
    flex-flow : row wrap;
}

.row .row {
    width        : auto;
    max-width    : none;
    margin-left  : calc(var(--gutter) * -1);
    margin-right : calc(var(--gutter) * -1);
}

/* column
 */
.column {
    display : block;
    flex    : 1 1;
    padding : 0 var(--gutter);
}

.collapse>.column,
.column.collapse {
    padding : 0;
}

/* row utility classes
 */
.row.row-wrap {
    flex-wrap : wrap;
}

.row.row-nowrap {
    flex-wrap : nowrap;
}

.row.row-y-top {
    align-items : flex-start;
}

.row.row-y-bottom {
    align-items : flex-end;
}

.row.row-y-center {
    align-items : center;
}

.row.row-stretch {
    align-items : stretch;
}

.row.row-baseline {
    align-items : baseline;
}

.row.row-x-left {
    justify-content : flex-start;
}

.row.row-x-right {
    justify-content : flex-end;
}

.row.row-x-center {
    justify-content : center;
}

/* --------------------------------------------------------------------
 * ## large screen devices
 * -------------------------------------------------------------------- */
.lg-1 {
    flex  : none;
    width : 8.33333%;
}

.lg-2 {
    flex  : none;
    width : 16.66667%;
}

.lg-3 {
    flex  : none;
    width : 25%;
}

.lg-4 {
    flex  : none;
    width : 33.33333%;
}

.lg-5 {
    flex  : none;
    width : 41.66667%;
}

.lg-6 {
    flex  : none;
    width : 50%;
}

.lg-7 {
    flex  : none;
    width : 58.33333%;
}

.lg-8 {
    flex  : none;
    width : 66.66667%;
}

.lg-9 {
    flex  : none;
    width : 75%;
}

.lg-10 {
    flex  : none;
    width : 83.33333%;
}

.lg-11 {
    flex  : none;
    width : 91.66667%;
}

.lg-12 {
    flex  : none;
    width : 100%;
}

.block-lg-one-eight>.column {
    flex  : none;
    width : 12.5%;
}

.block-lg-one-sixth>.column {
    flex  : none;
    width : 16.66667%;
}

.block-lg-one-fifth>.column {
    flex  : none;
    width : 20%;
}

.block-lg-one-fourth>.column {
    flex  : none;
    width : 25%;
}

.block-lg-one-third>.column {
    flex  : none;
    width : 33.33333%;
}

.block-lg-one-half>.column {
    flex  : none;
    width : 50%;
}

.block-lg-whole>.column {
    flex  : none;
    width : 100%;
}

/* --------------------------------------------------------------------
 * ## medium screen devices
 * -------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .md-1 {
        flex  : none;
        width : 8.33333%;
    }

    .md-2 {
        flex  : none;
        width : 16.66667%;
    }

    .md-3 {
        flex  : none;
        width : 25%;
    }

    .md-4 {
        flex  : none;
        width : 33.33333%;
    }

    .md-5 {
        flex  : none;
        width : 41.66667%;
    }

    .md-6 {
        flex  : none;
        width : 50%;
    }

    .md-7 {
        flex  : none;
        width : 58.33333%;
    }

    .md-8 {
        flex  : none;
        width : 66.66667%;
    }

    .md-9 {
        flex  : none;
        width : 75%;
    }

    .md-10 {
        flex  : none;
        width : 83.33333%;
    }

    .md-11 {
        flex  : none;
        width : 91.66667%;
    }

    .md-12 {
        flex  : none;
        width : 100%;
    }

    .block-md-one-eight>.column {
        flex  : none;
        width : 12.5%;
    }

    .block-md-one-sixth>.column {
        flex  : none;
        width : 16.66667%;
    }

    .block-md-one-fifth>.column {
        flex  : none;
        width : 20%;
    }

    .block-md-one-fourth>.column {
        flex  : none;
        width : 25%;
    }

    .block-md-one-third>.column {
        flex  : none;
        width : 33.33333%;
    }

    .block-md-one-half>.column {
        flex  : none;
        width : 50%;
    }

    .block-md-whole>.column {
        flex  : none;
        width : 100%;
    }

    .hide-on-md {
        display : none;
    }
}

/* --------------------------------------------------------------------
 * ## tablet devices
 * -------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
    .tab-1 {
        flex  : none;
        width : 8.33333%;
    }

    .tab-2 {
        flex  : none;
        width : 16.66667%;
    }

    .tab-3 {
        flex  : none;
        width : 25%;
    }

    .tab-4 {
        flex  : none;
        width : 33.33333%;
    }

    .tab-5 {
        flex  : none;
        width : 41.66667%;
    }

    .tab-6 {
        flex  : none;
        width : 50%;
    }

    .tab-7 {
        flex  : none;
        width : 58.33333%;
    }

    .tab-8 {
        flex  : none;
        width : 66.66667%;
    }

    .tab-9 {
        flex  : none;
        width : 75%;
    }

    .tab-10 {
        flex  : none;
        width : 83.33333%;
    }

    .tab-11 {
        flex  : none;
        width : 91.66667%;
    }

    .tab-12 {
        flex  : none;
        width : 100%;
    }

    .block-tab-one-eight>.column {
        flex  : none;
        width : 12.5%;
    }

    .block-tab-one-sixth>.column {
        flex  : none;
        width : 16.66667%;
    }

    .block-tab-one-fifth>.column {
        flex  : none;
        width : 20%;
    }

    .block-tab-one-fourth>.column {
        flex  : none;
        width : 25%;
    }

    .block-tab-one-third>.column {
        flex  : none;
        width : 33.33333%;
    }

    .block-tab-one-half>.column {
        flex  : none;
        width : 50%;
    }

    .block-tab-whole>.column {
        flex  : none;
        width : 100%;
    }

    .hide-on-tab {
        display : none;
    }
}

/* --------------------------------------------------------------------
 * ## mobile devices
 * -------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
    .row {
        width         : 100%;
        padding-left  : 6vw;
        padding-right : 6vw;
    }

    .row .row {
        padding-left  : 0;
        padding-right : 0;
    }

    .mob-1 {
        flex  : none;
        width : 8.33333%;
    }

    .mob-2 {
        flex  : none;
        width : 16.66667%;
    }

    .mob-3 {
        flex  : none;
        width : 25%;
    }

    .mob-4 {
        flex  : none;
        width : 33.33333%;
    }

    .mob-5 {
        flex  : none;
        width : 41.66667%;
    }

    .mob-6 {
        flex  : none;
        width : 50%;
    }

    .mob-7 {
        flex  : none;
        width : 58.33333%;
    }

    .mob-8 {
        flex  : none;
        width : 66.66667%;
    }

    .mob-9 {
        flex  : none;
        width : 75%;
    }

    .mob-10 {
        flex  : none;
        width : 83.33333%;
    }

    .mob-11 {
        flex  : none;
        width : 91.66667%;
    }

    .mob-12 {
        flex  : none;
        width : 100%;
    }

    .block-mob-one-eight>.column {
        flex  : none;
        width : 12.5%;
    }

    .block-mob-one-sixth>.column {
        flex  : none;
        width : 16.66667%;
    }

    .block-mob-one-fifth>.column {
        flex  : none;
        width : 20%;
    }

    .block-mob-one-fourth>.column {
        flex  : none;
        width : 25%;
    }

    .block-mob-one-third>.column {
        flex  : none;
        width : 33.33333%;
    }

    .block-mob-one-half>.column {
        flex  : none;
        width : 50%;
    }

    .block-mob-whole>.column {
        flex  : none;
        width : 100%;
    }

    .hide-on-mob {
        display : none;
    }
}

/* --------------------------------------------------------------------
 * ## small screen devices
 * --------------------------------------------------------------------*/

/* stack columns on small screen devices
 */
@media screen and (max-width: 400px) {
    .row .row {
        margin-left  : 0;
        margin-right : 0;
    }

    .block-stack>.column,
    .column {
        flex         : none;
        width        : 100%;
        margin-left  : 0;
        margin-right : 0;
        padding      : 0;
    }

    .hide-on-sm {
        display : none;
    }
}

/* --------------------------------------------------------------------
 * ## additional column
 * -------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {

    .stack-on-1000,
    .block-stack-on-1000>.column {
        flex         : none;
        width        : 100%;
        margin-left  : 0;
        margin-right : 0;
    }
}

@media screen and (max-width: 900px) {

    .stack-on-900,
    .block-stack-on-900>.column {
        flex         : none;
        width        : 100%;
        margin-left  : 0;
        margin-right : 0;
    }
}

@media screen and (max-width: 700px) {

    .stack-on-700,
    .block-stack-on-700>.column {
        flex         : none;
        width        : 100%;
        margin-left  : 0;
        margin-right : 0;
    }
}

@media screen and (max-width: 500px) {

    .stack-on-500,
    .block-stack-on-500>.column {
        flex         : none;
        width        : 100%;
        margin-left  : 0;
        margin-right : 0;
    }
}

/* --------------------------------------------------------------------
 * ## base type styles
 * -------------------------------------------------------------------- */
body {
    font-size   : var(--base-font-size);
    font-weight : 400;
    line-height : var(--vspace-1);
    color       : var(--color-text);
}

/* headings
 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight            : 500;
    color                  : var(--color-text-dark);
    font-variant-ligatures : common-ligatures;
    text-rendering         : optimizeLegibility;
}

h1,
.h1 {
    margin-top    : var(--vspace-2_5);
    margin-bottom : var(--vspace-0_75);
}

h2,
.h2,
h4,
.h4 {
    margin-top    : var(--vspace-2);
    margin-bottom : var(--vspace-0_75);
}

h5,
.h5,
h6,
.h6 {
    margin-top    : var(--vspace-1_75);
    margin-bottom : var(--vspace-0_5);
}

h1,
.h1 {
    font-size      : var(--text-display-2);
    line-height    : calc(2.25 * var(--space));
    letter-spacing : -0.015em;
}

@media screen and (max-width: 500px) {
    h1,
    .h1 {
        font-size   : var(--text-display-1);
        line-height : calc(1.875 * var(--space));
    }
}

h2,
.h2 {
    font-size      : var(--text-xxl);
    line-height    : calc(1.375 * var(--space));
    letter-spacing : -0.01em;
}

h3,
.h3 {
    font-size   : 25px;
}

h4,
.h4 {
    font-size   : var(--text-lg);
    line-height : var(--vspace-1);
}

h5,
.h5 {
    font-size   : var(--text-md);
    line-height : var(--vspace-0_875);
}

h6,
.h6 {
    font-weight    : 600;
    font-size      : var(--text-sm);
    line-height    : var(--vspace-0_75);
    text-transform : uppercase;
    letter-spacing : 0.3rem;
}

/* --------------------------------------------------------------------
 * ## lists
 * -------------------------------------------------------------------- */
ol {
    list-style : decimal;
}

ul {
    list-style : disc;
}

li {
    display : list-item;
}

ol,
ul {
    margin-left : 1.6rem;
}

ul li {
    padding-left : 0.4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin : 1.6rem 0 1.6rem 1.6rem;
}

ul.disc li {
    display    : list-item;
    list-style : none;
    padding    : 0 0 0 0.8rem;
    position   : relative;
}

ul.disc li::before {
    content        : "";
    display        : inline-block;
    width          : 8px;
    height         : 8px;
    border-radius  : 50%;
    background     : var(--color-1);
    position       : absolute;
    left           : -0.9em;
    top            : 11px;
    vertical-align : middle;
}

dt {
    margin : 0;
    color  : var(--color-1);
}

dd {
    margin : 0 0 0 2rem;
}

/* ===================================================================
 * # PRELOADER
 *
 *
 * ------------------------------------------------------------------- */
#preloader {
    position        : fixed;
    display         : flex;
    flex-flow       : row wrap;
    justify-content : center;
    align-items     : center;
    background      : var(--color-preloader-bg);
    z-index         : 500;
    height          : 100vh;
    width           : 100%;
    opacity         : 1;
}

.no-js #preloader {
    display : none;
}

#loader {
    width   : var(--vspace-1_5);
    height  : var(--vspace-1_5);
    padding : 0;
    opacity : 1;
}

#loader:before {
    content           : "";
    border-top        : 4px solid var(--color-loader-light);
    border-right      : 4px solid var(--color-loader-light);
    border-bottom     : 4px solid var(--color-loader-light);
    border-left       : 4px solid var(--color-loader);
    -webkit-animation : load 1.1s infinite linear;
    animation         : load 1.1s infinite linear;
    display           : block;
    border-radius     : 50%;
    width             : 100%;
    height            : 100%;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform : rotate(0deg);
        transform         : rotate(0deg);
    }

    100% {
        -webkit-transform : rotate(360deg);
        transform         : rotate(360deg);
    }
}

@keyframes load {
    0% {
        transform : rotate(0deg);
    }

    100% {
        transform : rotate(360deg);
    }
}

/* -------------------------------------------------------------------
 * ## page loaded
 * ------------------------------------------------------------------- */
.ss-loaded #preloader {
    opacity    : 0;
    visibility : hidden;
    transition : all 0.6s 0.9s ease-in-out;
}

.ss-loaded #preloader #loader {
    opacity    : 0;
    transition : opacity 0.6s ease-in-out;
}

/* ===================================================================
 * # BUTTONS
 *
 *
 * ------------------------------------------------------------------- */
.btn,
button {
    --btn-height            : var(--vspace-btn);
    display                 : inline-block;
    height                  : var(--btn-height);
    line-height             : calc(var(--btn-height) - 4px);
    padding                 : 0 3.6rem;
    margin                  : 0 0.4rem var(--vspace-0_5) 0;
    color                   : var(--color-btn-text);
    text-decoration         : none;
    text-align              : center;
    white-space             : nowrap;
    cursor                  : pointer;
    transition              : all 0.3s;
    border-radius           : var(--border-radius);
    background-color        : var(--color-btn);
    border                  : 2px solid var(--color-btn);
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}


/* button danger
 */
 .btn.btn-danger,
 button.btn-danger,
 input[type="submit"].btn--danger,
 input[type="reset"].btn--danger,
 input[type="button"].btn--danger {
     background   : #D0192F;
     border-color : #D0192F;
     color        : var(--color-btn-primary-text);
 }
 .btn.btn-danger:focus,
 button.btn-danger:focus,
 input[type="submit"].btn--danger:focus,
 input[type="reset"].btn--danger:focus,
 input[type="button"].btn--danger:focus,
 .btn.btn--danger:hover,
 button.btn--danger:hover,
 input[type="submit"].btn--danger:hover,
 input[type="reset"].btn--danger:hover,
 input[type="button"].btn--danger:hover {
     background   : #E50D27;
     border-color : #E50D27;
     color        : var(--color-btn-primary-hover-text);
 }

/* ===================================================================
 * # COMPONENTS
 *
 *
 * ------------------------------------------------------------------- */

/* -------------------------------------------------------------------
 * ## section header
 * ------------------------------------------------------------------- */
.section-header {
    justify-content : space-between;
    position        : relative;
    margin-bottom   : 50px;
}

.section-header .title,
.section-header .desc {
    z-index  : 1;
    position : relative;
}

.section-header .title {
    padding-left : calc(var(--gutter) * 1.25);
}

.section-header .desc {
    font-weight   : 300;
    color         : var(--color-text-light);
    padding-left  : var(--gutter);
    padding-right : var(--gutter);
}

.section-header::before {
    content     : attr(data-num);
    font-weight : 600;
    font-size   : 8em;
    line-height : 1;
    color       : white;
    position    : absolute;
    top         : -0.35em;
    left        : 0;
}

/* -------------------------------------------------------------------
 * ## swiper overrides
 * ------------------------------------------------------------------- */
.swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
    margin : 0 1.2rem;
}

.swiper-container .swiper-pagination-bullet {
    width      : 8px;
    height     : 8px;
    background : var(--color-gray-12);
    opacity    : 1;
}

.swiper-container .swiper-pagination-bullet-active {
    background : #622c8c;
    opacity    : 1;
}

/* -------------------------------------------------------------------
 * responsive:
 * project-wide and shared styles
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
    .section-header .desc {
        padding : 0;
    }
}

@media screen and (max-width: 600px) {
    .section-header .title {
        padding-left : 0;
    }

    .section-header::before {
        left : calc(var(--gutter) * 2);
    }
}

/* ===================================================================
 * # PAGE WRAP
 *
 *
 * ------------------------------------------------------------------- */
.s-pagewrap {
    display        : flex;
    flex-direction : column;
    min-height     : 100%;
    overflow       : hidden;
    position       : relative;
}

/* ===================================================================
 * # INTRO
 *
 *
 * ------------------------------------------------------------------- */
.s-intro {
    z-index          : 3;
    background-color : black;
    width            : 100%;
    height           : 100vh;
    min-height       : calc(25.5 * var(--space));
    overflow         : hidden;
    position         : relative;
}

/* --------------------------------------------------------------------
 * ## intro background
 * -------------------------------------------------------------------- */
.s-intro__bg {
    display             : block;
    position            : absolute;
    top                 : 0;
    left                : 0;
    right               : 0;
    bottom              : 0;
    width               : 100%;
    height              : 100%;
    background-image    : url('../img/background.webp');
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
}

/*.s-intro__bg.avif {
    background-image: url("../img/background.avif");
}

.s-intro__bg.webp {
    background-image: url("../img/background.webp");
}*/


.s-intro__bg::before {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : black;
    pointer-events : none;
    opacity        : 0.2;
}

.s-intro__bg::after {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : linear-gradient(0deg, black 15%, rgba(0, 0, 0, 0) 100%);
    pointer-events : none;
    opacity        : 0.3;
}

/* --------------------------------------------------------------------
 * ## intro content
 * -------------------------------------------------------------------- */
.s-intro__content {
    --right-block-width : 360px;
    z-index             : 2;
    align-items         : flex-end;
    justify-content     : space-between;
    max-width           : 1400px;
    height              : 100%;
    font-weight         : 300;
    color               : white;
    padding-top         : 20vh;
    padding-bottom      : 9.2rem;
    position            : relative;
}

.s-intro__content-inner {
    display         : flex;
    align-items     : flex-start;
    justify-content : space-between;
}

.s-intro__content-left,
.s-intro__content-right {
    flex : none;
}

.s-intro__content-left {
    width         : calc(100% - var(--right-block-width) - var(--gutter));
    padding-right : calc(var(--gutter) * 2);
}

.s-intro__content-right {
    width       : var(--right-block-width);
    padding-top : var(--vspace-1);
}

.s-intro__content-desc {
    margin-bottom : var(--vspace-0_625);
}

.s-intro__content-title {
    --text-title-size : 8.8rem;
    --text-multiplier : 1;
    font-weight       : 500;
    font-size         : calc(var(--text-title-size) * var(--text-multiplier));
    line-height       : 1.227;
    color             : white;
    margin-top        : 0;
}

.s-intro__content-buttons {
    display : flex;
}

.s-intro__content-btn {
    --btn-height     : calc(var(--vspace-btn) - 1rem);
    font-size        : calc(var(--text-size) * 0.8889);
    background-color : white;
    border-color     : white;
    margin-right     : var(--vspace-1);
    margin-bottom    : 0;
}

.s-intro__content-video-btn {
    height           : calc(1.6875 * var(--space));
    width            : calc(1.6875 * var(--space));
    background-color : white;
    border-radius    : 50%;
    display          : flex;
    align-items      : center;
    justify-content  : center;
}

.s-intro__content-video-btn svg {
    height    : var(--vspace-1);
    width     : var(--vspace-1);
    transform : translate(2px, 0);
}

.s-intro__content-video-btn svg path {
    fill : var(--color-text-dark);
}

.s-intro__content-video-btn:focus,
.s-intro__content-video-btn:hover {
    background-color : var(--color-1);
}

.s-intro__content-video-btn:focus svg path,
.s-intro__content-video-btn:hover svg path {
    fill : white;
}

/* --------------------------------------------------------------------
 * ## intro transitions
 * -------------------------------------------------------------------- */
.s-header__inner,
.s-intro__content-left,
.s-intro__content-right,
.s-intro__social,
.s-intro__scroll {
    transition-timing-function : cubic-bezier(0.28, 0.12, 0.22, 1);
    transition-duration        : 0.6s;
    transition-delay           : 0s;
    opacity                    : 0;
}

.s-header__inner {
    transition-property : opacity;
}

.s-intro__content-left,
.s-intro__content-right {
    transition-property : opacity, transform;
    transform           : translate(0, 100%);
}

.s-intro__social,
.s-intro__scroll {
    transition-property : opacity, transform;
    transform           : translate(0, 100%);
}

.no-js .s-header__inner,
.no-js .s-intro__content-left,
.no-js .s-intro__content-right,
.no-js .s-intro__social,
.no-js .s-intro__scroll,
.ss-show .s-header__inner,
.ss-show .s-intro__content-left,
.ss-show .s-intro__content-right,
.ss-show .s-intro__social,
.ss-show .s-intro__scroll {
    opacity   : 1;
    transform : translate(0, 0);
}

.no-js .s-intro__content-left,
.ss-show .s-intro__content-left {
    transition-delay : 0.3s;
}

.no-js .s-intro__content-right,
.ss-show .s-intro__content-right {
    transition-delay : 0.6s;
}

.no-js .s-intro__social,
.no-js .s-intro__scroll,
.ss-show .s-intro__social,
.ss-show .s-intro__scroll {
    transition-delay : 0.9s;
}

/* -------------------------------------------------------------------
 * responsive:
 * intro
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1600px) {
    .s-intro__content {
        max-width : 1160px;
    }

    .s-intro__content-title {
        --text-multiplier : 0.95;
    }
}

@media screen and (max-width: 1400px) {
    .s-intro__content {
        max-width : 1040px;
    }

    .s-intro__content-right {
        padding-top : var(--vspace-0_625);
    }

    .s-intro__content-title {
        --text-multiplier : 0.82;
    }

    .s-intro__content-title br {
        display : none;
    }
}

@media screen and (max-width: 1200px) {
    .s-intro__content {
        max-width : 960px;
    }

    .s-intro__content-title {
        --text-multiplier : 0.76;
    }
}

@media screen and (max-width: 1100px) {
    .s-intro__content {
        max-width : 900px;
    }

    .s-intro__content-inner {
        flex-direction  : column;
        justify-content : flex-start;
        max-width       : 640px;
        padding-right   : 8rem;
    }

    .s-intro__content-left,
    .s-intro__content-right {
        width : 100%;
    }

    .s-intro__content-right {
        padding-top : 0;
        max-width   : var(--right-block-width);
    }
}

@media screen and (max-width: 700px) {
    .s-intro__content-title {
        --text-multiplier : 0.65;
    }
}

@media screen and (max-width: 600px) {
    .s-intro__bg {
        display             : block;
        position            : absolute;
        top                 : 0;
        left                : 0;
        right               : 0;
        bottom              : 0;
        width               : 100%;
        height              : 100%;
        background-image    : url(../img/background-mobile.png);
        background-repeat   : no-repeat;
        background-position : center;
        background-size     : cover;
    }

    .s-intro__content-inner {
        padding-right : 4rem;
    }

    .s-intro__content-title {
        --text-multiplier : 0.56;
    }

    .s-intro__social {
        right : 4rem;
    }

    .s-intro__scroll {
        right : 3.8rem;
    }
}

@media screen and (max-width: 500px) {
    .s-intro__content-inner {
        padding-right : var(--gutter);
    }

    .s-intro__social {
        display : none;
    }
}

@media screen and (max-width: 400px) {
    .s-intro__content-inner {
        padding-right : 0;
    }

    .s-intro__content-title {
        font-size : var(--text-xxxl);
    }

    .s-intro__content-btn {
        margin-right : var(--vspace-0_75);
    }

    .s-intro__scroll {
        right : 2.4rem;
    }

    .s-intro__scroll svg {
        height : var(--vspace-0_75);
        width  : var(--vspace-0_75);
    }
}

/* ===================================================================
 * # ABOUT
 *
 *
 * ------------------------------------------------------------------- */
.s-about {
    --screen-width   : 340px;
    --screen-height  : 736px;
    padding-top      : 100px;
    padding-bottom   : 90px;
    background-color : var(--color-gray-6);
}

/* --------------------------------------------------------------------
 * ## info
 * -------------------------------------------------------------------- */
.s-about__info {
    margin-top : 1px;
}

.s-about__info-slider {
    padding-bottom : var(--vspace-2);
}

/* -------------------------------------------------------------------
 * responsive:
 * about
 * ------------------------------------------------------------------- */
@media screen and (max-width: 700px) {
    .s-about__howto-process {
        display : block;
    }

    .s-about__howto-process-step {
        width : auto;
    }

    .s-about__howto-process-step:nth-child(2n+1) {
        padding-right : 0;
    }

    .s-about__howto-process-step:nth-child(2n+2) {
        padding-left : 0;
    }

    .s-about__feature-list>.column {
        flex  : none;
        width : 100%;
    }
}

@media screen and (max-width: 600px) {
    .s-about {
        --screen-width  : 280px;
        --screen-height : 606px;
    }

    .s-about__howto {
        --process-padding-left : 5.8rem;
    }
}

@media screen and (max-width: 500px) {
    .s-about {
        --screen-width  : 240px;
        --screen-height : 520px;
    }
}

@media screen and (max-width: 400px) {
    .s-about {
        padding-top : var(--vspace-4);
    }
}

/* ===================================================================
 * # FOOTER
 *
 *
 * ------------------------------------------------------------------- */
.s-footer {
    background-color : var(--color-gray-19);
    padding-top      : 70px;
    padding-bottom   : 50px;
    margin-top       : auto;
    font-weight      : 300;
    color            : rgba(255, 255, 255, 0.4);
    position         : relative;
}

.s-footer a {
    color : var(--color-1);
    text-decoration-line: none;
}

.s-footer a:focus,
.s-footer a:hover {
    color : white;
}

.s-footer__top {
    align-items     : flex-end;
    justify-content : space-between;
}

.s-footer__top h2 {
    color         : var(--color-1);
    margin-top    : 0;
    margin-bottom : 0;
}

.s-footer__bottom {
    justify-content : space-between;
    border-top      : 1px solid rgba(255, 255, 255, 0.03);
    margin-top      : var(--vspace-2_5);
    padding-top     : var(--vspace-1_5);
}


/* -------------------------------------------------------------------
 * ## footer logo
 * ------------------------------------------------------------------- */
.footer__logo {
    display       : inline-block;
    margin-bottom : 2.4rem;
    padding       : 0;
}

.footer__logo a {
    display    : inline-block;
    margin-top : 2px;
    padding    : 0;
    outline    : 0;
    border     : none;
    opacity    : 1.0;
}

.footer__logo img {
    width : 200px;
}

/* --------------------------------------------------------------------
 * ## footer site-links
 * -------------------------------------------------------------------- */
.s-footer__site-links {
    list-style  : none;
    display     : flex;
    flex-flow   : row wrap;
    margin-left : 0;
}

.s-footer__site-links li {
    padding-left  : 0;
    margin-right  : var(--vspace-1);
    margin-bottom : var(--vspace-0_125);
}

.s-footer__site-links a {
    color : white;
}

.s-footer__site-links a:focus,
.s-footer__site-links a:hover {
    color : var(--color-1-light);
}

/* -------------------------------------------------------------------
 * ## footer contact
 * ------------------------------------------------------------------- */
.s-footer__contact {
    margin-top    : 0;
    margin-bottom : var(--vspace-1);
}

.s-footer__contact a {
    font-weight : 500;
    font-size   : 20px;
    line-height : var(--vspace-1);
    color       : white;
}

.s-footer__contact .s-footer__mail-link:focus,
.s-footer__contact .s-footer__mail-link:hover {
    color : white;
}

/* -------------------------------------------------------------------
 * ## footer social
 * ------------------------------------------------------------------- */
.s-footer__social {
    list-style       : none;
    display          : flex;
    margin-top       : 20px;
    margin-left      : 30px;
    align-items      : center;
    justify-content  : center;
    height           : var(--vspace-1_25);
    width            : var(--vspace-1_25);
}

.s-footer__social li {
    padding-left : 0;
    margin-right : 0.8rem;
}

.s-footer__social a {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    height           : var(--vspace-1_25);
    width            : var(--vspace-1_25);
    background-color : rgba(255, 255, 255, 0.05);
    border-radius    : 50%;
}

.s-footer__social a:focus,
.s-footer__social a:hover {
    background-color : #0c0c0c;
}

.s-footer__social svg {
    height : var(--vspace-0_625);
    width  : var(--vspace-0_625);
}

.s-footer__social svg path {
    fill : white;
}

/* -------------------------------------------------------------------
 * ## copyright
 * ------------------------------------------------------------------- */
.ss-copyright span {
    font-size   : calc(var(--text-size) * 0.8889);
    line-height : var(--vspace-1);
    display     : inline-block;
}

.ss-copyright span::after {
    content : "·";
    display : inline-block;
    padding : 0 1rem 0 1.2rem;
    color   : white;
}

.ss-copyright span:last-child::after {
    display : none;
}

/* -------------------------------------------------------------------
 * ## go top
 * ------------------------------------------------------------------- */
.ss-go-top {
    z-index    : 2;
    opacity    : 0;
    visibility : hidden;
    transform  : translate(0, 200%);
    transition : all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    position   : fixed;
    bottom     : 6rem;
    right      : 4rem;
}

.ss-go-top a {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    text-decoration  : none;
    border           : none;
    height           : calc(1.875 * var(--space));
    width            : calc(1.875 * var(--space));
    border-radius    : 50%;
    background-color : #622c8c;
    transition       : all 0.3s;
    position         : relative;
}

.ss-go-top a:focus svg path,
.ss-go-top a:hover svg path {
    fill : white;
}

.ss-go-top svg {
    height : var(--vspace-0_75);
    width  : var(--vspace-0_75);
}

.ss-go-top svg path {
    fill : white;
}

.ss-go-top.link-is-visible {
    opacity    : 1;
    visibility : visible;
    transform  : translate(0, 0);
}

/* -------------------------------------------------------------------
 * responsive:
 * footer
 * ------------------------------------------------------------------- */
@media screen and (max-width: 900px) {
    .s-footer__bottom .column:first-child {
        margin-bottom : var(--vspace-2);
    }

    .s-footer__contact {
        margin-top : var(--vspace-1);
    }
}

@media screen and (max-width: 800px) {
    .s-footer {
        padding-bottom : var(--vspace-3);
    }

    .ss-go-top {
        right  : var(--vspace-1);
        bottom : var(--vspace-1);
    }

    .ss-go-top a {
        height : var(--vspace-1_75);
        width  : var(--vspace-1_75);
    }

    .ss-go-top svg {
        height : var(--vspace-0_625);
        width  : var(--vspace-0_625);
    }
}

@media screen and (max-width: 600px) {
    .s-footer__subscribe form {
        display : block;
    }

    .s-footer__subscribe input[type="email"],
    .s-footer__subscribe input[type="submit"] {
        width         : 100%;
        text-align    : center;
        border-radius : var(--border-radius);
    }

    .s-footer__subscribe input[type="email"] {
        margin-bottom : var(--vspace-0_625);
    }

    .ss-go-top {
        right  : var(--vspace-0_75);
        bottom : var(--vspace-0_75);
    }
}

@media screen and (max-width: 400px) {
    .s-footer__contact .s-footer__mail-link {
        font-size : var(--text-md);
    }

    .ss-go-top a {
        height : var(--vspace-1_5);
        width  : var(--vspace-1_5);
    }
}

/* ==========================================================================
#MODAL
========================================================================== */
.modal-content {
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;
}

.modal-header {
    border-bottom: 0 none;
    padding-bottom: 0;
}

.modal-footer {
    border-top: 0 none;
}
